
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
    font-family: Inter;
}
a{
    color:gray;
    transition: .6s all linear ;
    &:hover{
        text-decoration: none;
        color: black;
        text-shadow: 1px 1px;
    }
}
header.col-12{
    margin-bottom: 20px;
    padding-top: 10px;
min-height: 70px;
padding-left: 0;
padding-bottom: 0;
>div:first-child{
    border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        min-height: 35px;
        display: flex;
    >span{
        margin-left: 30px;
        margin: auto 30px;
        position: relative;
       &::before{
           content: '';
           position: absolute;
           background:url('../image/icon_location.svg')no-repeat center;
           width: 20px;
           height: 20px;
           top: 0;
           left: -20px;
       }
    }
}
>div:last-child{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    

    p{
        margin: auto;
        margin-left: 50px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background: url('../image/pizza_icon.svg') no-repeat center;
            width: 35px;
            height: 35px;
            top: -5px;
            left: -40px;
        }
    }
    ul{
        background: url('../image/Menu.svg') no-repeat center;
        >li{
            display: none;

        }
    }
}
border-bottom: 1px solid lightgrey;
}   
body>div:nth-child(2){
  
  >div:first-child{
      display: flex;
         
      > ul:first-child{
        >li.swiper-slide{
            position: relative;
          
            &::before{
              content: '';
              position: absolute;
              width: 50px;
              height: 50px;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
           
            }
            &:first-child{
                &::before{
                    background: url('../image/Stock.svg') no-repeat center;
                }
            }&:nth-child(2){
                &::before{
                    background: url('../image/Pizza.svg') no-repeat center;
                }
            }&:nth-child(3){
                &::before{
                    background: url('../image/Sushi.svg') no-repeat center;
                }
            }&:nth-child(4){
                &::before{
                    background: url('../image/drink.svg') no-repeat center;
                }
            }&:nth-child(5){
                &::before{
                    background: url('../image/Snacks.svg') no-repeat center;
                }
            }&:nth-child(6){
                &::before{
                    background: url('../image/Combo.svg') no-repeat center;
                }
            }&:nth-child(7){
                &::before{
                    background: url('../image/desserts.svg') no-repeat center;
                }
            }&:nth-child(8){
                &::before{
                    background: url('../image/Sauces.svg') no-repeat center;
                }
            }
            >a{
                position: relative;
                color: black;
                display: block;
                padding: 50px  30px 5px;
                z-index: 5;
                &:hover{
                    text-decoration: none;
                }
            }
        }
  }}
  
    ul:first-child{
        display: flex;
        
        >li{
       margin: 0 15px;
       border: 1px solid gray;
       border-radius: 10px;
     
    }}
   >form{
       span:first-child{
           font-weight: 600;
       }
       margin: 0 auto;
       text-align: center;
       display: flex;
      justify-content: center;

       flex-direction:  column;
       padding-left: 0;
       padding-right: 0;  
       height: 90px;
       border: 1px solid gray;
       border-radius: 10px;
       >*{
        padding-left: 0;
        padding-right: 0;
       }
     >div>div{
         display: inline-block;
         position: relative;
     
      
        &::before{
            content: '';
            position: absolute;
            background: url('../image/icon_location.svg') no-repeat center;
            
            top:-6px;
            z-index: 5;
            left: -5px;
            width: 55px;
            height: 55px;
        }
     }
       input[type='text']{
        border-radius:  5px 0 0 5px;
        height: 42px;
        border: 1px solid lightgrey;
        border-right: none;
        
        position: relative;
      
        &::placeholder{
            padding-left: 40px;

            
        }
       }
       input[type='submit']{
       background: orange url('../image/Send.svg') no-repeat center;
       height: 44px;
       width: 44px;
       border-radius: 5px;
       border: none;
       vertical-align: middle;
  
       }
   }
    div:nth-child(2)>ul{
        height: 320px;
        justify-content: center;
        display: flex;
       > li{
            height: 320px;
            width: 300px;
       
            position: relative;
            &:nth-child(1){
               
                
                background: url('../image/pizza_list1.png') no-repeat center;
                background-size: cover;
               &::before{
                   content: '3 средние пиццы от 999 рублей';
                   position: absolute;
                    color: white;
                    bottom: 40px;
                    
                    left: 10px;
                    font-family: Inter;
                   font-weight: 600;
                    font-size: 20px;

               }
            }
            &:nth-child(2){
                background: url('../image/pizza_list2.png')no-repeat center; 
                background-size: cover;
                &::before{
                    content: 'Кэшбек 10% на самовывоз (доставка)';
                    position: absolute;
                     color: white;
                     bottom: 40px;
                     left: 10px;
                     font-family: Inter;
                    font-weight: 600;
                     font-size: 20px;
 
                }
            }
            &:nth-child(3){
                background: url('../image/pizza_list1.png') no-repeat center;
                background-size: cover;
                &::before{
                    content: '3 средние пиццы от 999 рублей';
                    position: absolute;
                     color: white;
                     bottom: 40px;
                     left: 10px;
                     font-family: Inter;
                    font-weight: 600;
                     font-size: 20px;
 
                }
            }
            &:nth-child(4){
                background: url('../image/pizza_list2.png')no-repeat center;
                background-size: cover;
                &::before{
                    content: 'Кэшбек 10% на самовывоз (доставка)';
                    position: absolute;
                     color: white;
                     bottom: 40px;
                     left: 10px;
                     font-family: Inter;
                    font-weight: 600;
                     font-size: 20px;
 
                }
            }
        }
    }
}

body>div{
   
>p{
 text-align: center;
 font-weight: 600;   
}
}
body>div{
    >div:last-child{
        >div{
            min-height: 220px;
            >div{
                >div{
                    p{
                        margin: auto ;
                    }
                    >button{
                        width: 131px;
                        height: 48px;
                        background: #FF7010;
                        border: 1px solid #FF7010;
                        border-radius: 10px;
                        display: flex;
                        font-size: 20px;
                        transition: .4s all linear;
                        color: white;
                     
                        &:active{
                            background-color: red;
                        }
                        
                        vertical-align: middle;
                        >span{
                            margin: auto;
                           
                        }

                    }
                }
            }
        }
    }
}
body>div{
    > p{    
        text-align: center;
         font-weight: 600;
         font-size: 30px;
     }
    >div:first-child{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        >span:first-child{
            font-weight: 600;
            font-size: 32px;
            margin: 0 auto;
        }
      
    }
    >div:last-child{
        >div{

           
            display: flex;
            border-radius: 10px;
                 border: 1px gray solid;
                 padding: 30px 20px 10px;
                 position: relative;
                >div>div{
                    display: flex;
                    >span{
                        text-decoration: line-through;
                        color: gray;
                      
                    }
                >p {
                    width: 100px;
                     padding: 0 15px;
                    border-radius: 5px;
                    background-color: #FFEEE2;
                    color: darkorange;
                    text-align: center;
                 }
                }
                 &:first-child{
                     &::before{
                        background: url('../image/icon_new.svg') no-repeat center ;
                        background-size: cover;
                        content: '';
                        position: absolute;
                        width: 50px;
                        height: 20px;
                        top: 35px;
                        left: 0;
                        border-radius: 0 10px 10px 0;
                     }
                 }
                 &:nth-child(2){
                     &::before{
                        background: url('../image/icon_hit.svg') no-repeat center ;
                        background-size: cover;
                        content: '';
                        position: absolute;
                        width: 50px;
                        height: 20px;
                        top: 35px;
                        left: 0;
                        border-radius: 0 10px 10px 0;
                     }
                 }
                
            img{
                height: 100px;
                width: 100px;
               
               
            }
            >div{
                >p:nth-child(1){
                    font-weight: 600;
                 }
                
                 
            }
         
        }
    }
}

footer{
    margin: 0 auto;
    padding-left: 40px;
    .instagram{
        a{
            color:gray;
            transition: .6s all linear ;
            &:hover{
                text-decoration: none;
                color: black;
                text-shadow: 1px 1px;
            }
        }
    }
    .facebook{
        &{
            a{
                color:gray;
                transition: .6s all linear ;
                &:hover{
                    text-decoration: none;
                    color: black;
                    text-shadow: 1px 1px;
                }
            }
        }
        position: relative;
        &::before{
         content: '';
         position: absolute;
         background: url('../image/facebook_icon.svg')no-repeat center;
         width: 30px;
         height: 30px;
         top:0;
         left: -20px;
        

        }

    }
    .instagram{
        position: relative;
        &::before{
         content: '';
         position: absolute;
         background: url('../image/instagram_icon.svg')no-repeat center;
         width: 30px;
         height: 30px;
         top:-2px;
         left: -20px;

        }
    }
    min-height: 300px;
    >div{
        &.fixed_basket{
            position: fixed;
            bottom: 0 ;
            right: 0;
        }
      
        
         margin-left: 30px;
        >p:first-child{
            font-weight: 600;
        }
        >p:nth-child(2){
            position: relative;
            &::before{
             content: '';
             position: absolute;
             background: url('../image/icon_tell.svg')no-repeat center;
             width: 30px;
             height: 30px;
             top:-2px;
             left: -25px;
    
            }
        }
        address{
            position: relative;
            &::before{
             content: '';
             position: absolute;
             background: url('../image/address_icon.svg')no-repeat center;
             width: 30px;
             height: 30px;
             top:-2px;
             left: -25px;
             
            }
        }
    }
    div.d-flex{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 50px;
        
    }
  ul{
      li{
          text-align: left;
      }
      li:first-child{
          font-weight: 600;
      }
      li>a{
          color: gray;
          &:hover{
              color: black;
              text-decoration: none;
          }
      }
  }
>p:first-child{
    position: relative;
    margin-left: 30px;
    
&::before{
    content: '';
    position: absolute;
    background: url('../image/pizza_icon.svg')no-repeat center;
    top: -10px;
    left: -30px;
    width: 50px;
    height: 50px;
}
}
>p:nth-child(5){
    margin: 0 auto;
}
}

li{
    list-style: none;
}
body>*{
    overflow: hidden;
    
} 
// body > div > div:nth-child(2) > div:nth-child(1)
body > div > div:nth-child(2)>div{
    flex-wrap: wrap;
}
body > div > div> div > div > div{
    flex-direction: column;
    justify-content: center;
    >*{
        margin: 15px auto;
    }
   
    
}

header{
 
    
        >p{
           
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                a{
                    color: black;
                }
           
          }
    
        ul>li{
           
          
            
            
          
            >a{
                color: gray;
                transition: .7s all linear;
                &:hover{
                    color: black;
                    text-shadow: 1px 1px; 
                    text-decoration: none;
                }
            }
        }
    
}
@import "desk.scss";
@import "desk.scss";
@import "mobile.scss";